
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> wordpress ###
/public-wp/*
!/public-wp/uploads
/public-wp/uploads/*
!/public-wp/uploads/.gitignore
/src/cache/*
!/src/cache/.gitignore
/src/upgrade/*
!/src/upgrade/.gitignore
# Install pluings and themer via composer from wpackagist repo while add custom plugins and themes
/src/WordPressContent/plugins/composer-vendor-*
/src/WordPressContent/mu-plugins/composer-vendor-*
/src/WordPressContent/plugins/wp-default-*
/src/WordPressContent/mu-plugins/wp-default-*
/src/WordPressContent/themes/wp-default-*
/src/WordPressContent/themes/composer-vendor-*
###< wordpress ###

###> dev environtment ###
.idea
.vagrant
.DS_Store
.php-version
*.log
###< dev environtment ###

.devenv
.direnv
nix/.env
